body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'exo', sans-serif;
    background-color: #eaf6fc;
    color: #00303f;
}

h1, h2, p, a {
    margin: 0;
    padding: 0;
}

h2{
    font-family: 'Aldrich', sans-serif;
    font-weight: normal;
    color: #1d5d65;
    border-bottom: 2px solid #007e99;
}

p{
    font-family: 'Exo', sans-serif;
}