/* Chapeau */
.chapeau {
    text-align:left;
    margin-bottom: 2rem;
    margin-top:-25px;
    margin-left:20px;
}

.chapeau__texte {
    font-size: 1.2rem;
    font-style: italic;
    color: #007e99;
    padding: 0.8rem;
    border-radius: 8px;
}

