/* Chapeau */
.chapeau {
    text-align:left;
    margin-bottom: 2rem;
    margin-top:1.5rem;
    margin-left:20px;
}

.chapeau__texte {
    font-size: 1.2rem;
    font-style: italic;
    color: #007e99;
    padding: 0.8rem;
    border-radius: 8px;
}

.chapeau__texte::after{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #007e99;
    margin-top: 0.5rem;
    border-radius: 8px;
}