.header {
    position: relative;
    height: 100vh;
    background: #1d5d65;
    overflow: hidden;
    margin-bottom: 50px;
}

.header__background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 0;
    margin-top: 30px;
}

.header__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #1d5d65;
    z-index: 10;
}


.header__logo-img {
    width: 10%;
    border-radius: 10px;
    display: block;
    scale: 1;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 12px;

}

.header__title {
    position: relative;
    top: 50px;
    text-align: center;
    font-weight: normal;
    font-size: 2.5rem;
    font-family: 'Aldrich', sans-serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.form__content {
    min-height: 2px;
    border: solid 1px;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    color:white;
    width: 12.5%;
    
}

.lang-btn{
    text-decoration: none;
  color: white;
}