.carousel__film {
    overflow: hidden; 
    max-width: 100%; 
    margin: 2rem 0;
}

.carousel__container {
    position: relative;
}

.carousel__images {
    display: flex;
    gap: 1rem; 
    transition: transform 0.5s ease-in-out; 
}

.film__trilogie-item {
    flex: 0 0 100%; 
    max-width: 300px; 
    text-align: center;
}

.film__trilogie-img {
    width: 100%; 
    max-width: 300px;
    border-radius: 10px;
}

.carousel__legende {
    margin-top: 0.5rem;
    font-style: italic;
    color: black;
}

.carousel__nav {
    top: 20px;
    position :relative;
    margin:auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel__button {
    background-color: #349cc2;
    border: none;
    color: white;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.carousel__title{
    font-size: 1.4rem;
    color: #1d5d65;
    left: 0;
    margin-left: 20px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid #007e99;
    display: inline-block;
    padding-bottom: 0.3rem;
}

.carousel__title::before {
    content: "";
    display: block;
    width: 80%;
    justify-content: center;
    height: 2px; 
    background-color: black; 
    margin: 0 auto 1rem auto; 
}

.carousel__button:hover {
    background-color: #004b5f;
}

@media (max-width: 844px) and (orientation: landscape) {
    .film__trilogie-item {
        flex: 0 0 30%; /* Chaque affiche occupe 30% de la largeur pour afficher 3 images côte à côte */
        margin: 0 1%; /* Ajout d'un petit espacement entre les affiches */
    }

    .carousel__container {
        padding: 0 1rem; /* Ajoute un léger padding pour centrer le contenu */
    }

    .film__image-img {
        max-width: 100%;
        border-radius: 8px; /* Ajout d'un arrondi pour un meilleur rendu visuel */
    }

    .carousel__legende {
        font-size: 1rem; /* Réduction légère du texte pour correspondre à l'affichage paysage */
        text-align: center;
    }
}