.carousel__film {
    overflow: hidden; 
    max-width: 100%; 
    margin: 2rem 0;
}

.carousel__container {
    position: relative;
}

.carousel__images {
    display: flex;
    gap: 1rem; 
    transition: transform 0.5s ease-in-out; 
}

.film__trilogie-item {
    flex: 0 0 100%; 
    max-width: 300px; 
    text-align: center;
}

.film__trilogie-img {
    width: 100%; 
    max-width: 300px;
    border-radius: 10px;
}

.carousel__legende {
    margin-top: 0.5rem;
    font-style: italic;
    color: black;
}

.carousel__nav {
    margin-bottom: -50px;
    margin:auto;
    width: 75%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel__button {
    background: linear-gradient(135deg, #007e99, #1d5d65);
    margin-top:50px;
    border: none;
    color: white;
    font-size: 2rem;
    padding: 0.2rem 1.2rem;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 126, 153, 0.8), 0 0 30px rgba(0, 126, 153, 0.5);
    transition: all 0.3s ease-in-out;
    position: relative;
}


.carousel__button:active {
    transform: scale(0.95);
    box-shadow: inset 0 0 10px rgba(0, 126, 153, 0.9);
}

.carousel__title{
    font-size: 1.4rem;
    color: #1d5d65;
    left: 0;
    margin-left: 20px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid #007e99;
    display: inline-block;
    padding-bottom: 0.3rem;
}

.carousel__title::before {
    content: "";
    display: block;
    width: 80%;
    justify-content: center;
    height: 2px; 
    background-color: black; 
    margin: 0 auto 1rem auto; 
}

.carousel__button:hover {
    background-color: #004b5f;
}

@media (max-width: 844px) and (orientation: landscape) {
    .film__trilogie-item {
        flex: 0 0 30%; 
        margin: 0 1%; 
    }

    .carousel__container {
        padding: 0 1rem; 
    }

    .film__image-img {
        max-width: 100%;
        border-radius: 8px; 
    }

    .carousel__legende {
        font-size: 1rem; 
        text-align: center;
    }
}