.accueil__chapo {
    padding: 2rem 1rem;
    text-align: center;
    background-color: #cceeff;
}

.accueil__title {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.accueil__texte {
    font-size: 1.2rem;
    line-height: 1.6;
}

/* Section Intro */

.accueil__intro {
    background-color: white;
    padding: 2rem 1.5rem;
    border: 1px solid #007e99; 
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin: 2rem auto;
    max-width: 300px; 
    text-align: center;
}

.accueil__image, .accueil__image-bouclier {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}
.accueil__card-image-bouclier{
    width: 100%;
    margin-top: -30px;
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.accueil__card-image {
display: flex;
  width: 350px;
  border-radius: 5%;
  margin-top: -33px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.accueil__titre {
    font-size: 1.8rem;
    color: #004b5f;
    margin-top: 1rem;
}

.accueil__description {
    font-size: 1rem;
    line-height: 1.5;
    margin: 1rem 0;
}

.accueil__link {
    display: inline-block;
    width: 100%; 
    text-align: center;
    padding: 0.7rem 0;
    background: linear-gradient(90deg, #007e99 0%, #00a2b9 100%); 
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 0 0 10px 10px; 
    border-top: 2px solid #004b5f; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out;
}

.accueil__link:hover {
    background: linear-gradient(90deg, #005f73 0%, #007e99 100%);
}