.film {
    margin-bottom: 2rem;
}

.film__titre {
    font-size: 1.4rem;
    left: 0;
    margin-left: 20px;
    margin-bottom: 1rem;
    color: #004b5f;
    display: inline-block;
    padding-bottom: 0.3rem;
}

.film__image {
    text-align: center;
}

.film__image-img {
    border-radius: 10px;
}

.film__legende {
    color: black;
}

.film__texte {
    font-size: 1.1rem;
    line-height: 1.6;
    margin: 1rem 0;
    text-align: left;
    width: 90%;
    margin-left:20px;
}

/* Transformation Section */
.film__transformation {
    margin-bottom: 2rem;
}

.film__transformation .film__image-img {
    max-width: 250px;
    margin: 0 auto;
    display: block;
}

/* Bande-annonce Section */
.film__bande-annonce {
    margin: 2rem 0;
}

.film__video iframe {
    width: 100%;
    max-width: 560px;
    border-radius: 10px;
}

/* Bouclier Section */
.film__bouclier {
    margin-top: 2rem;
}

.film__bouclier .film__image-img {
    max-width: 300px;
    margin: 0 auto;
    display: block;
}

@media (max-width: 768px) {
    .film__titre {
        font-size: 1.5rem;
    }

    .film__texte {
        font-size: 1rem;
    }

    .film__trilogie-images {
        flex-direction: column;
        gap: 1rem;
    }

    .film__trilogie-img {
        max-width: 100%;
    }
}