.film {
    margin-bottom: 2rem;
}

.film__titre {
    font-size: 1.4rem;
    margin-left: 20px;
    color: #004b5f;
    display: inline-block;
    padding-bottom: 0.3rem;
}

.film__image {
    text-align: center;
}

.film__image-img {
    border-radius: 10px;
}

.film__legende {
    color: black;
}

.film__texte {
    font-size: 1.1rem;
    line-height: 1.5;
    margin: 1rem 0;
    text-align: left;
    width: 90%;
    margin-left: 20px;
}

/* Transformation Section */
.film__transformation {
    margin-bottom: 2rem;
}

.film__transformation .film__image-img {
    max-width: 250px;
    margin: 0 auto;
    display: block;
}

/* Bande-annonce Section */
.film__bande-annonce {
    margin: 2rem 0;
}

.film__video iframe {
    width: 100%;
    max-width: 560px;
    border-radius: 10px;
}

/* Bouclier Section */
.film__bouclier {
    margin-top: 2rem;
}

.film__bouclier .film__image-img {
    max-width: 300px;
    margin: 0 auto;
    display: block;
}

/* Section "Plus de films" */


.film__separator {
    border: none;
    height: 2px;
    background-color: #1d5d65;
    margin: 2rem auto;
    width: 50%;
}

/* Section "Présentation du réalisateur" */
.film__link-filmographie {
    color: #0b9bd9;
    text-align: right;
    margin-left: 50%;
    font-size: 1.1rem;
    text-decoration: none;
    font-style: italic;
    margin-top: 1rem;
    display: inline-block;
    transition: color 0.3s ease-in-out;
}

.film__link-realisateur {
    color: #0b9bd9;
    text-align: right;
    margin-left: 35%;
    font-size: 1.1rem;
    text-decoration: none;
    font-style: italic;
    margin-bottom: 2rem;
    display: inline-block;
    transition: color 0.3s ease-in-out;
}

.film__video {
    width: 80%;
    height: 80%;
    max-width: calc(100%-4rem);
    margin: 1rem 2rem;
    margin-bottom: -30px;
}

.film__indic {
    font-size: 0.8rem;
    font-style: italic;
    display: inline-block;
    text-align: center;
    margin-top: 40px;
    margin-left: 40px;
}

.film__director-intro .film__texte {
    font-size: 1rem;
    line-height: 1.5;
}


@media (max-width: 768px) {
    .film__titre {
        font-size: 1.5rem;
    }

    .film__texte {
        font-size: 1rem;
    }

    .film__trilogie-images {
        flex-direction: column;
        gap: 1rem;
    }

    .film__trilogie-img {
        max-width: 100%;
    }
}