

/* Section du livre */
.livre {
    margin-bottom: 2rem;
    background-color: white;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.livre__titre {
    font-size: 1.4rem;
    color: #004b5f;
    text-align: center;
    margin-bottom: 1rem;
    border-bottom: 2px solid #007e99;
    display: inline-block;
    padding-bottom: 0.3rem;
}

.livre__images {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.livre__image {
    max-width: 60%;
    display: flex;
    justify-content: center;
    position: relative;
    left: 50px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.livre__legende {
    margin-top: 20px;
    color: #004b5f;
    text-align: center;
    right: 10px;
}

/* Texte du livre */
.livre__texte {
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
    margin-bottom: 1rem;
}

.livre__texte strong {
    color: #007e99;
}

/* Lien */
.livre__link {

    color: #007e99;
    font-weight: bold;
    display: inline-block;
    transition: all 0.3s;
}

.livre__link:active {
    transform: scale(0.98);
}

.livre__link:hover {
    text-decoration: underline;
}

/* Bouton de lien vers l'article */
.film__link {
    display: inline-block;
    flex-direction: column;
    color: #0b9bd9;
    font-style:italic;
    padding: 0.6rem 1.2rem;
    border-radius: 6px;
    text-align: center;
    margin-top: 1rem;
    position: relative;
    margin-bottom: 30px;
    margin-top: 30px;
    left: 45%;
}

/* Dernier paragraphe */
.livre__fin {
    text-align: left;
    margin-left: 20px;
    margin-top: 2rem;

}

.livre__fin-texte {
    font-size: 1rem;
    line-height: 1.4;
    color: black;
    font-family: 'Exo', sans-serif;
    text-align: left;
}

.livre__fin-texte::before {
    content: "";
    display: block;
    width: 80%;
    justify-content: center;
    height: 2px; 
    background-color: black; 
    margin: 0 auto 1rem auto; 
}