/* Section réalisateur */
.realisateur {
    padding: 1.5rem;
    margin-bottom: 70px;
}

.realisateur__titre {
    font-size: 1.6rem;
    border-bottom: 2px solid #007e99;
    display: inline-block;
    padding-bottom: 0.3rem;
    margin-bottom: 1rem;
}

.realisateur__image {
    text-align: center;
    margin-bottom: 1rem;
}

.realisateur__image-img {
    width: 100%;
    max-width: 280px;
    border-radius: 10px;
    margin: 0 auto;
}

.realisateur__oeuvre-texte {
    font-size: 1.1rem;
    line-height: 1.6;
    margin: 1rem 0;
    text-align: justify;
    width: 90%;
    margin-left: 5%;
    margin-bottom:50px;
    
}

/* Section début de carrière */

.realisateur__debut {
    padding: 1.5rem;
    margin-top: 25px;
}

.realisateur__debut .realisateur__texte {
    font-size: normal;
    margin-bottom: 2rem;
    
}

/* Section style de réalisation */
.realisateur__style {
    padding: 1.5rem;
}

.realisateur__style .realisateur__texte {
    margin-bottom: 2rem;
    font-size : normal;
}

/* Section œuvres notables */
.realisateur__oeuvres {
    padding: 1.5rem;
}

.realisateur__film{
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
    text-align: justify;
    width: 100%;
}

.realisateur__oeuvre {
    flex: 0 0 45%;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}

.realisateur__oeuvre-img {
    width: 100%;
    max-width: 150px;
    border-radius: 10px;
    display: flex;
    
}



/* Section héritage et influence */



.realisateur__heritage {
    padding: 1.5rem;
}

.realisateur__link {
    display:inline-block;
    position: relative;
    border: 2px solid #1d5d65;
    border-radius: 10px;
    text-align: center;
    padding: 0.7rem 1rem;
    background: linear-gradient(180deg, #2CB9C8 0%, #4FA4AD 50%, #176E77 100%);
    color: white;
    font-style: italic;
    text-decoration: none;
    margin-bottom: 30px;
    margin-top: 30px;
    left: 30%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.realisateur__link-bio{
    display: inline-block;
    color: #0b9bd9;
    font-style:italic;
    padding: 0.6rem 1.2rem;
    border-radius: 6px;
    text-align: center;
    margin-top: 1rem;
    position: relative;
    left: 35%;
}
